/* HOME PAGE */

.home-container {
  display: flex;
  align-items: flex-end;
  padding: 0 1em;
}

.social-media-icon {
  width: 4em;
  height: 4em;
  cursor: pointer;
}

.social-media-links {
  display: flex;
  margin: 0 1em;
}
